<mat-toolbar color="primary">
    <span>Dashboard</span>
  </mat-toolbar>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre: Juan</mat-card-title>
          <mat-card-subtitle>Apellido: Perez</mat-card-subtitle>
          <mat-card-subtitle>Dirección: Av. Blanco Galindo Km. 3</mat-card-subtitle>
        </mat-card-header>
        <img img mat-card-avatar  src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nombre: Carlos</mat-card-title>
            <mat-card-subtitle>Apellido: Fernandez</mat-card-subtitle>
            <mat-card-subtitle>Dirección: Av Ayacucho Nro. 1101</mat-card-subtitle>
          </mat-card-header>
          <img img mat-card-avatar  src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nombre: Maria</mat-card-title>
            <mat-card-subtitle>Apellido: López</mat-card-subtitle>
            <mat-card-subtitle>Dirección: Av. América Nro. 0802</mat-card-subtitle>
          </mat-card-header>
          <img img mat-card-avatar  src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nombre: Carla</mat-card-title>
            <mat-card-subtitle>Apellido: Flores</mat-card-subtitle>
            <mat-card-subtitle>Dirección: Av. San Martín Nro. 123</mat-card-subtitle>
          </mat-card-header>
          <img img mat-card-avatar  src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>